<% if @display_start_over_button %>
  <h3>You're out of cash!  Quick, go find some more money!</h3>

  <form action='/startover' method='post'>
    <input type="submit" class="btn btn-info" value="Start Over"/>
  </form>
<% else %>
  <h3>How much would you like to bet?</h3>

  <form class="form-inline" action='/player/bet' method='post'>
    <input type='text' name="bet_amount"/>
    <input type="submit" class="btn btn-primary" value="Place Bet"/>
  </form>

  <p><%= session[:player_name] %>'s available cash:  $<%= session[:player_cash] %></p>
<% end %>
  
