<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li>
            <a class="brand">Blackjack</a>
          </li>
          <li class="divider-vertical"></li>
          <% if @show_play_again_button %>
            <li>
              <p class="navbar-text play-again-text">Play Again?</p>
            </li>
            <li>
              <form class="navbar-form play-again-buttons" action='/play_again' method='post'>
                <input type="submit" class="btn btn-success" value="Yes"/>
              </form>
            </li>
            <li>
              <form class="navbar-form play-again-buttons" action='/game_over' method='post'>
                <input type="submit" class="btn btn-warning" value="No" />
              </form>
            </li>
          <% else %>
            <li>
              <form class="navbar-form startover-button" action='/startover' method='post'>
                <input type="submit" class="btn btn-info" value="Start Over"/>
              </form>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <body>
    <div class="container messages">
      <% if @error %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
      <% if @success %>
        <div class="alert alert-success"><%=@success%></div>
      <% end %>
      <% if @info %>
        <div class="alert alert-info"><%=@info%></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
