<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type='text/javascript' src='/script.js'></script>
  </head>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li>
            <a class="brand">Blackjack</a>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <form class="navbar-form startover-button" action='/startover' method='post'>
              <input type="submit" class="btn btn-info" value="Start Over"/>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <body>
    <div class='messages'>
      <% if @error %>
        <div class="alert alert-error"><%=@error%></div>
      <% end %>
      <% if @success %>
        <div class="alert alert-success"><%=@success%></div>
      <% end %>
      <% if @info %>
        <div class="alert alert-info"><%=@info%></div>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
