<h3>Please enter your name.</h3>

<form class="form-inline" action='/new_player' method='post'>
  <input type='text' name="player_name"/>
  <input type="submit" class="btn btn-primary" value="Play"/>
</form>
